*.pyc
models/
thresholds/sample_thresholds.txt
thresholds/T1_test_scores.txt
thresholds/test_scores.txt
results/KBOX-iterative-T1/labeled.tsv
results/KBOX-iterative-T1/labeled2.tsv
results/KBOX-iterative-T1/labeled3.tsv
results/KBOX-iterative-T1/pa_labeled3.tsv
results/KBOX-iterative-T1/normal_labeled.tsv
results/KBOX-iterative-T1/normal_unlabeled.tsv
results/KBOX-iterative-T1/unlabeled.tsv
results/KBOX-iterative-T1/unlabeled2.tsv
results/KBOX-iterative-T1/unlabeled3.tsv
results/KBOX-iterative-T1/result_analysis.py
results/KBOX-iterative-T1/pa_unlabeled3.tsv
data/validation/filtered_normal_DRcheck.tsv
data/validation/filtered_triples_T1_DRcheck.tsv
data/validation/filtered_triples2_T1_DRcheck.tsv
data/validation/filtered_triples3_T1_DRcheck.tsv